<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>The Photography Repository</title>
    {% endblock %}
    <meta charset="utf-8" />
   {% comment %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
   {% endcomment %}
  </head>
  {% block content %}
  <body>
      <p>
         {% if user.is_authenticated %}
             Hello, {{ user.username }}.
         {% else %}
             <a href="{% url 'accounts:register' %}">Register</a>
             <a href="{% url 'accounts:login' %}">Log in</a>
         {%  endif %}
      </p>
      <p>
          {% if user.is_authenticated %}
              <a href="{% url 'accounts:user-profile' %}">Profile</a>
              <hr />
              <form action="{% url 'accounts:logout' %}" method="post">
                  {% csrf_token %}
                  <button name="submit">Log out</button>
              </form>
          {% endif %}
      </p>
  </body>

{% endblock content %}
