{% extends "base_generic.html" %}

{% block sidebar %}
  {% for phototag in phototags %}
                  <li>
                      <a href="{% url 'photomanager:phototag' phototag.pk %}">
                          All {{ phototag.name }} Photos</a>
                  </li>
                {% empty %}
                      <li>No Photos have been added yet.</li>
                {% endfor %}
{% endblock %}

{% block content %}
  <h1>Niall MacRae Photography</h1>
  <p>
    Welcome to Niall MacRae's Photography Repository
    <em>developed by Cryptic Actuarial Coding</em>!
  </p>
  <h2></h2>
  <p>This repository contains the following photographs:</p>
    {% if phototags %}
      <ul>
        {% for phototag in phototags %}
          <li><strong>{{ phototag.name }}:</strong> {{ phototag.photo_set.count }}</li>
        {% endfor %}
      </ul>
    {% else %}
        <p>This photographer has no photos uploaded.</p>
    {% endif %}
{% endblock %}
