{% extends 'base.html' %}

{% block title %}Profile Page{% endblock title %}
{% block content %}
        <p>This is the profile page for {{user.first_name}} {{user.last_name}}</p>

        <p>User Name : {{ user.username }}</p>
        <p>Email : {{ user.email }}</p>

        <a href="{% url "accounts:password_change" %}">Change Password?</a>

        {%  if photographer is not None %}
            {# <a href="{% url 'photomanager:index' %}">Home</a> #}
            {%  include 'photomanager/photo_profile_links.html' %}
        {% endif %}
{% endblock content %}


